$defaultGap: 10px;
$defaultGapV: 6px;
$headerHeight: 48px;
$logoWidth: 32px;
$navHeight: 40px;
$navInner: 50px;
$navWidth: $navInner + 2 * $defaultGap;

$transitionTime: 150ms;

@mixin create-theme($c0, $c1, $c2, $c3, $c4) {
    --gap-size: #{$defaultGap};
    --background-color: #{$c0};
    --background-grad: linear-gradient(
            to bottom right,
            #{mix($c2, $c0, 25%)},
            #{mix($c3, $c0, 25%)}
        );

    --title-color: #{$c1};
    --text-color: #{$c1};
    --alt-color: #{$c3};

    --shadow-color: #{rgba($c0, 0.5)};
    --cell-color: #{rgba($c0, 0.2)};
}

:root {
    --font-size-base: 16px;
    @include create-theme(#000, #FFF, #0FF, #F0F, #FF0);
}

[data-theme="default"] {
    @include create-theme(#000, #FFF, #0FF, #F0F, #FF0);
}

[data-theme="light"] {
    @include create-theme(#CBA, #123, #0FF, #F0F, #FF0);
}

[data-theme="medium"] {
    @include create-theme(#440154, #fde725, #3b528b, #21918c, #5ec962);
}

[data-theme="dark"] {
    @include create-theme(#000, #FFF, #666, #973, #FF0);
}


root {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}

html {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    text-rendering: optimizelegibility;

    font-family: var(--font-family);
    font-size: var(--font-size-base);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;

    background-color: var(--background-color);
    background-image: var(--background-grad);
    background-attachment: fixed;
    color: var(--text-color);
}

img {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
}

h1 {
    font-size: 24px;
    line-height: $headerHeight;
    margin: 0;
    padding: 0;

    color: var(--title-color);
    text-shadow: var(--background-color) 1px 1px 3px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 700;

    &:hover {
        color: var(--link-color-hover);
    }

    &.active {
        color: var(--link-color-hover);
    }
}

fa-drop-down {
    //background: green;

    fa-drop-down-title {
        //display: flex;
        //flex-direction: row;
        text-decoration: none;
        color: var(--link-color);

        &:hover {
            color: var(--link-color-hover);
        }
    }

    &.toggled-on {
        fa-drop-down-title {
            color: var(--link-color-hover);
        }
    }

    fa-drop-down-content {
        background-color: var(--background-color);
        padding: 12px;

        &.active {
            transition: opacity $transitionTime ease-in-out;
        }
    }
}

main {
    box-sizing: border-box;

    position: absolute;
    left: $navWidth;
    top: $headerHeight;
    width: calc(100vw - $navWidth);
    height: calc(100vh - $headerHeight);

    padding: 0 $defaultGap $defaultGap 0px;
}

header {
    position: absolute;
    left: $navWidth;
    top: 0;
    width: calc(100vw - $navWidth);
    height: $headerHeight;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    box-sizing: border-box;

    position: absolute;
    left: 0;
    top: 0;
    width: $navWidth;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    logo-panel {
        width: $navWidth;
        height: $headerHeight;
        line-height: $headerHeight;

        a {
            display: flex;
            justify-content: center;
            height: 100%;

            img {
                width: $logoWidth;
                display: block;
                margin: auto;
            }

            &:hover {
                filter: brightness(110%) saturate(110%);
            }
        }
    }

    div {
        box-sizing: border-box;

        margin-bottom: 16px;
        padding: 8px 0;
        width: $navInner;

        display: flex;
        flex-direction: column;

        background: var(--shadow-color);
        border-radius: 8px;
    }

    a {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        nav-icon {
            height: $navHeight;
            line-height: $navHeight;
            //z-index: 1;
            width: $navWidth;
            text-align: center;
            //padding: $navVertPadding 0;
            font-weight: 900;
        }
        nav-title {
            //z-index: -1;
            line-height: auto;
            position: absolute;
            width: 0px;
            overflow: hidden;
            //margin: $navVertPadding 0;
            //padding: 2px 0;
            text-align: left;
            text-shadow: var(--background-color) 0px 0px 3px;
            border-radius: 0 6px 6px 0;
            left: $navWidth - $defaultGap;
            background-color: var(--cell-color);
        }

        &:hover {
            nav-title {
                //background-color: var(--translucent-color);
                //text-shadow: var(--background-color) 0px 0px 3px;
                width: auto;
                transition: width $transitionTime ease-in-out;
                //padding: $navItemVertPadding 12px $navItemVertPadding $navWidth;
                padding: 10px 12px;
                transition: padding 200ms;
            }
        }

        &.active {
            background-color: var(--background-color);
        }
    }
}

tab-panel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    //gap: var(--gap-size);

    fa-local-link {
        padding: $defaultGapV $defaultGap;
        font-weight: bold;

        &.active {
            background-color: var(--cell-color);
        }
    }
}

content-panel {
    box-sizing: border-box;
    background: var(--cell-color);
    padding: $defaultGapV $defaultGap;
}