$dropDownTime: 150ms;
fa-drop-down {
    position: relative;
    display: inline-block;

    fa-drop-down-title {
        cursor: pointer;
    }

    fa-drop-down-content {
        position: fixed;
        display: flex;
        flex-direction: column;

        //z-index: 1;

        min-width: 5em;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
        background: #FFF;

        visibility: visible;
        opacity: 1;
        //transform: translateX(0);

        will-change: visibility, opacity;
        transition: visibility 0ms, opacity $dropDownTime;
    }

    &.toggled-on {
        fa-drop-down-title {
            //filter: brightness(120%);
        }
    }

    fa-drop-down-content:not(.active) {
        visibility: hidden;
        opacity: 0;

        //transition: visibility $dropDownTime, opacity $dropDownTime;
    }
}