fa-element {
    box-sizing: border-box;
}
fa-element:not(.active) {
    display: none;
}
fa-form-element[data-fa-value-filter]:not(.active) {
    display: none;
}

fa-local-link {
    &:hover {
        cursor: pointer;
    }
}