fa-hover {
    position: relative;
    display: inline-block;
}

fa-hover-title {
    display: block;
}

fa-hover-title:not(.no-icon):before {
    content: '\25BC\A0';
}

fa-hover-content {
    display: none;
    position: absolute;
    z-index: 200;
    min-width: 12em;

    fa-tab-item,
    a {
        display: block;
        padding: 0.5em 1em;
    }

    hr {
        width: 90%;
    }
}

fa-hover:focus-within,
fa-hover:hover {
    cursor: default;

    fa-hover-content {
        display: flex;
        flex-direction: column;
    }

    fa-hover-title {
    }
}