:host([hidden]) { display: none; }

fa-blocking-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--layer-color);
}

[data-blocking] {
    fa-blocking-layer {
        display: block;
    }
}