<style>
:host {
	box-sizing: border-box;
	display: inline-block;
	border: solid 2px blue;
	padding: 1em;
}
filter-panel {
	display: flex;
	flex-direction: column;
}
result-panel {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
product-list {
	display: grid;
	grid-template-columns: auto auto;
}
header-row {
	display: contents;
	color: yellow;
	font-weight: bold;
}
.not-in-stock {
	color: red;
}
</style>
<filter-panel>
	<input
		placeholder="Search..."
		keyup-function="filterName"
	/>
	<label>
		<input
			type="checkbox"
			change-function="filterStock"
		/>
		Only show products in stock
	</label>
</filter-panel>
<result-panel data-fa-bind-template="dynamic.shared">
	\{{#each categoryDict}}
		<category-detail>
			<h1>\{{@key}}</h1>
			<product-list>
				<header-row>
					<div>Name</div>
					<div>Price</div>
				</header-row>
				\{{#each this}}
					<div class="\{{displayClass}}">
						\{{name}}
					</div>
					<div>
						\{{price}}
					</div>
				\{{/each}}
			</product-list>
		</category-detail>
	\{{/each}}
</result-panel>