<style>
:host {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: block;
}
a.active {
	background: pink;
}
div.active {
	background: red;
}
section-panel {
	box-sizing: border-box;
	display: block;
	padding: 1em;
}
</style>
Breadcrumb:
<fa-breadcrumb>
	<option data-fa-page-filter='{"main": "test-a"}'>
		A
	</option>
	<option data-fa-page-filter='{"main": "test-b"}'>
		B
	</option>
	<option data-fa-page-filter='{"main": "test-c"}'>
		C
	</option>
	<option data-fa-page-filter='{"main": "test-d"}'>
		D
	</option>
</fa-breadcrumb>
<hr/>
DOCS ROOT<br/>
<a is="fa-link" data-fa-page-filter='{"main": "test-a"}'>TestA</a><br/>
<a is="fa-link" data-fa-page-filter='{"main": "test-b"}'>TestB</a><br/>
<a is="fa-link" data-fa-page-filter='{"main": "test-c"}' data-fa-link-action='push'>Push TestC</a><br/>
<a is="fa-link" data-fa-page-filter='{"main": "test-d"}' data-fa-link-action='push'>Push TestD</a><br/>
<a is="fa-link" data-fa-link-action='pop'>Pop</a><br/>
<div data-fa-page-filter='{"main": "test-b"}'>B Active Test</div>
<hr/>
<button click-function="setValue1">Set Value 1</button>
<button click-function="setValue2">Set Value 2</button>
<button click-function="getValue">Get Value</button>
<div data-fa-bind-template="dynamic.value">value: \{{fromJson this}}</div>
<select data-fa-bind-value="selectTest">
	<option value="a">A</option>
	<option value="b" selected>B</option>
	<option value="c">C</option>
</select>
<hr/>
<section-panel>
	<h1>Example Element</h1>
	See: <a href="https://react.dev/learn/thinking-in-react" target="_BLANK">https://react.dev/learn/thinking-in-react</a><br/>
	<fa-docs-example></fa-docs-example>
</section-panel>
<hr/>
<section-panel>
	<h1>Example StateMachine</h1>
	<fa-docs-example-statemachine></fa-docs-example-statemachine>
</section-panel>