<style>
:host {
	display: flex;
	flex-direction: row;
	color: var(--alt-color);
}
state-stack {
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: var(--gap-small);
}
control-panel {
	flex: 0;
}
a:visited.active,
a.active {
	color: var(--link-color);
}
a.active:hover {
	color: var(--link-color-hover);
}
a.current {
	color: var(--link-color-active);
}
</style>
<script
	data-fa-element-type="state-stack"
>
	\{{#with dynamic.shared}}
    \{{#each stack}}
        \{{#if @first}}
        \{{else}}
            <div>&gt;</div>
        \{{/if}}
        <div>
        \{{#if @last}}
            <a
                class="current"
                is="fa-link"
                data-fa-link-action='goto'
                data-fa-link-context="absolute"
                data-fa-page-filter='\{{this.filter}}'
            >\{{this.display}}</a>
        \{{else}}
            <a is="fa-link" data-fa-link-action='popto' data-fa-stack-level="\{{@index}}">\{{this.display}}</a>
        \{{/if}}
        </div>
    \{{/each}}
    \{{/with}}
</script>
<control-panel data-fa-bind-template="dynamic.shared">
    \{{#if hasClose}}
    <a class="button small" is="fa-link" data-fa-link-action='pop'>x</a>
    \{{/if}}
</control-panel>