<style>
:host {
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 0.2rem 0.25rem;
	border: none;
	border-radius: 4px;
	font-weight: 600;

	min-height: 1em;
	min-width: 1em;

	font-family: var(--font-family);
	font-size: var(--font-size-base);

	user-select: none; /* Standard syntax */
}
:host([disabled]) {
	filter: grayscale(0.8) brightness(0.8);
	cursor: initial;
}
fa-check-button-inner {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: 100%;

	gap: .2rem;
}
</style>
<fa-check-button-inner part="inner">{{{static.slot}}}</fa-check-button-inner>