<style>
:host {
	position: relative;
	overscroll-behavior: contain;
}
item-list {
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: var(--select-color);
	color: var(--text-color);
	border: solid 1px var(--border-color);
	max-height: 10rem;
	overflow-y: auto;
	cursor: pointer;
}
item-list:not(.active) {
	display: none;
}
option {
	display: block;
}
option:hover {
	background: var(--cell-color);
}
option.active {
	background: var(--highlight-color);
}
</style>
<input type="text" id="input" auto-register />
<item-list id="list" auto-register data-fa-bind-template="dynamic.shared.filteredItems">
\{{#each this}}
<option data-idx="\{{@index}}">\{{this}}</option>
\{{/each}}
</item-list>